<div th:fragment="modal">
    <div class="modal fade" id="modalHalo" tabindex="-1" aria-labelledby="modalHaloLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalHaloLabel">📌 Halo 프로젝트 상세</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <h5>구현목적</h5>
                    <p class="mb-0">채권관리 솔루션을 이용 중인 고객사에서 추심(전자소송)을 진행해야하는 경우가 있는데, 채무자의 개인정보나 전자소송에 필요한 이미지 파일등이 솔로션에 관리는 돼있지만 전자소송사이트에 입력을 해야하는 번거로움이 있음.</p>
                    <p>또한 전자소송사이트에 올라오는 송달문서파일을 솔루션에 수기로 업로드를 하고있어서 불편함 호소.</p>
                    <h5>언어 / 프레임워크 / DB</h5>
                    <ul class="checklist">
                        <li>PHP</li>
                        <li>Python</li>
                        <li>Java</li>
                        <li>SpringBoot</li>
                        <li>FastApi</li>
                        <li>Laravel</li>
                        <li>Postgresql</li>
                    </ul>


                    <h5>구현기능</h5>
                    <ul class="checklist">
                        <li>전자소송사이트 스크래핑을 통한 송달문서 적재 / 전자소송 진행(윈도우서버)</li>
                        <li>솔루션서비스와 연동을 위한 RESTAPI구현(Fastapi)</li>
                        <li>문서 OCR 처리(Naver Clova OCR) 및 데이터 적재(Laravel)</li>
                        <li>채권관리 솔루션 연동 페이지 및 비즈니스 로직 구현(Laravel)</li>
                        <li>요금산정을 위한 관리자페이지 사용건수 체크용 API구현(Springboot)</li>
                    </ul>
                    <h5>주요 문제 및 해결</h5>
                    <ul class="checklist">
                        <li>카드결제 진행시 보안프로그램 우회 및 랜덤키패드 처리</li>
                        <li>Naver clova OCR 동시요청 제한</li>
                    </ul>
                    <hr>
                    <p class="mb-0">내부망 서비스라 사이트 링크 제공 불가</p>
                    <p>2025년 3월부로 성공적으로 오픈했으며 저작권등록(등록번호:C-2024-040684 / 헤일로)이 돼있는 서비스입니다.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>