<div th:fragment="modal">
    <div class="modal fade" id="modalProspecs" tabindex="-1" aria-labelledby="modalProspecsLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalProspecsLabel">📌 Prospecs 프로젝트 상세</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <h5>구현목적 / 구현기능 </h5>
                    <p class="mb-0">javascript 숙달을 위한 간단한 토이프로젝트를 진행</p>
                    <p class="mb-0">데이터베이스 개념을 알기 전이라 전역 자바스크립트 객체 배열을 데이터베이스 처럼 사용해서 필터링 기능을 구현</p>
                    <p class="mb-0">주요 로직을 함수화 해서 코드 가독성을 높이려 했음</p>
                    <h5>언어 / 프레임워크</h5>
                    <ul class="checklist">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                    <h5>레이아웃설계</h5>
                    <img class="w-100 my-1" th:src="@{/project/prospecs/레이아웃.png}">
                    <h5>데이터베이스를 대체하는 객체 배열을 위한 생성자 함수</h5>
                    <img class="w-100 my-1" th:src="@{/project/prospecs/생성자함수.png}">
                    <h5>구현 화면</h5>
                    <img class="w-100 my-1" th:src="@{/project/prospecs/prospecs.gif}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>