<div th:fragment="modal">
    <div class="modal fade" id="modalSemiproject" tabindex="-1" aria-labelledby="modalSemiprojectLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSemiprojectLabel">📌 Semiproject 프로젝트 상세</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <p>이 프로젝트는 메이플스토리 웹사이트 레이아웃을 Semiproject 스타일로 구현한 정적 사이트입니다.</p>
                    <ul class="checklist">
                        <li><input type="checkbox" checked disabled> HTML/CSS 레이아웃 구현</li>
                        <li><input type="checkbox" disabled> 반응형 디자인 적용</li>
                    </ul>
                    <pre>npm install</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
